*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

header{
    border-style: solid;
    border-color: black;
}

#head{
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}


#logo img {
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#head_title h1{
    font-size: 4em;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}

.nav-link {
    color: black;
    font-size: 2em;
}

.nav-link:hover {
    color: white;
    background-color: #9299ad
}


main{
    margin: 3em;
}

#title{
    background-image: url(media/Logo_parlstudio.png);
}

#title > h1{
    font-size: 8em;
    margin-left: 8%;
    margin-right: 20%;
    margin-top: 12%;
}